/* ======================================================
   /*?- CARD
   /*?- MAIN CARD (ABOUT)
   /*?- STATS (ABOUT)
   /*?- CARD-SKILLS
   /*?- CARDS - TIMELINE 
   /*?- CARD - PROJECT
   /*?- CARD (PROJECT DETAILS)
   /*?- CARD (OTHER PROJECTS)
====================================================== */

/* ======================================================
   /*! CARDS  
====================================================== **/

:root {
  --border-color: 1px solid rgba(29, 78, 216, 0.2);
  --border-color-hover: 1px solid rgba(59, 130, 246, 0.45);
  --bg-card: linear-gradient(
    180deg,
    rgba(3, 6, 14, 0.96) 0%,
    rgba(1, 4, 10, 0.985) 100%
  );
  --bg-card-hover: linear-gradient(
    180deg,
    rgba(6, 10, 20, 0.98) 0%,
    rgba(2, 5, 12, 1) 100%
  );
  --bg-card-shadow:
    0 0 0 1px rgba(29, 78, 216, 0.08), 0 10px 30px rgba(0, 0, 0, 0.45),
    0 0 20px rgba(29, 78, 216, 0.08);
  --bg-card-shadow-hover:
    0 0 0 1px rgba(59, 130, 246, 0.15), 0 18px 40px rgba(0, 0, 0, 0.55),
    0 0 28px rgba(59, 130, 246, 0.12), 0 0 50px rgba(16, 185, 129, 0.05);
}

/* ==============================
   /*! MAIN CARD (ABOUT)
============================== */

.main-card {
  background: var(--bg-card);
  border: var(--border-color);
  box-shadow: var(--bg-card-shadow);
  border-radius: 28px;
  padding: 20px;
  backdrop-filter: blur(12px);
  transition: all 0.35s ease;
  -webkit-backdrop-filter: blur(10px);
}

/* Glow elegante */
.main-card::before {
  content: "";
  position: absolute;
  inset: 0;

  pointer-events: none;

  animation: aboutGlow 4s ease-in-out infinite;
}

@keyframes aboutGlow {
  0%,
  100% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.8;
  }
}

.main-card:hover {
  transform: translateY(-6px);
  background: var(--bg-card-hover);
  border: var(--border-color-hover);
  box-shadow: var(--bg-card-shadow-hover);
}

/* ==============================
   /*! STATS (ABOUT)
============================== */

.about-stats {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.stat-card {
  min-width: 220px;
  padding: 16px;
  border-radius: 18px;
  background: var(--bg-card);
  border: var(--border-color);
  box-shadow: var(--bg-card-shadow);
  text-align: center;
  transition: 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-4px);
  background: var(--bg-card-hover);
  border: var(--border-color-hover);
  box-shadow: var(--bg-card-shadow-hover);
}
.stat-card strong {
  display: block;
  font-size: 1.6rem;
  color: var(--color-dark);
}

.stat-card span {
  font-size: 0.95rem;
}
/* ======================================================
   /*! CARD-SKILLS
====================================================== */

.skills-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding: 28px 26px;
  border-radius: 18px;
  min-height: 260px;

  background: var(--bg-card);
  border: var(--border-color);
  box-shadow: var(--bg-card-shadow);
  backdrop-filter: blur(12px);
  transition: all 0.35s ease;
}

.skills-card:hover {
  transform: translateY(-6px);
  background: var(--bg-card-hover);
  border: var(--border-color-hover);
  box-shadow: var(--bg-card-shadow-hover);
}

/* ======================================================
   /*! CARDS - TIMELINE 
====================================================== **/

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* Linha vertical - mobile */
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 3px;
  height: 100%;
  background: var(--color-dark);
}

.timeline-item {
  position: relative;
  width: 100%;
}

.timeline-dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -31px;
  width: 15px;
  height: 15px;

  background:
    radial-gradient(circle at center, #58a6ff 5%, transparent 40%),
    /* centro do dot */
    conic-gradient(from 180deg, #58a6ff, #1f6feb, #1d4ed8, #58a6ff); /* contorno animado */

  border-radius: 50%;

  box-shadow: 0 0 20px rgba(88, 166, 255, 0.6);

  animation: pulseGlow 2s infinite ease-in-out;
}

.card-timeline {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background: var(--bg-card);
  border: var(--border-color);
  box-shadow: var(--bg-card-shadow);
  padding: 24px;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transition: 0.35s ease;

  box-sizing: border-box;

  width: 100%;
  max-width: 100%;
}

.card-timeline:hover {
  background: var(--bg-card-hover);
  border: var(--border-color-hover);
  box-shadow: var(--bg-card-shadow-hover);

  transform: translateY(-4px);
}

.company {
  color: var(--color-dark);
  font-weight: 600;
  font-size: clamp(1rem, 2.5vw, 1.3rem);
}

.badge-group {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.local-badge,
.cr-badge {
  display: inline-block;
  padding: 4px 12px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 999px;
  backdrop-filter: blur(6px);
  transition: 0.3s ease;
}

.local-badge {
  color: #ffff00;
  border: 1px solid rgba(255, 255, 0, 0.5);
  box-shadow: 0 0 15px rgba(88, 166, 255, 0.25);
}

.cr-badge {
  color: #39ff14;
  border: 1px solid rgba(34, 197, 94, 0.5);
  box-shadow: 0 0 15px rgba(139, 92, 246, 0.25);
}

/* Header */
.card-timeline-header {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

/* body */
.card-timeline-body {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.description {
  line-height: 1.6;
  margin: 20px 0;
}

.timeline-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
}

.timeline-icon {
  color: var(--color-dark);
  font-size: 1rem;
}

.separator {
  width: 100%;
  height: 1px;
  background: rgba(29, 78, 216, 0.15);
  margin: 16px 0;
}

/* Tags */
.card-timeline ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.card-timeline ul {
  list-style: none;
  padding: 0;
  margin: 5px 0;
}

.card-timeline li {
  position: relative;
  padding: 8px 0 8px 18px;
  font-size: 0.9rem;
  line-height: 1.5;
  transition: 0.2s ease;
  color: var(--txt-color);
}

/* Setinha lateral */
.card-timeline li::before {
  content: "▸";
  position: absolute;
  left: 0;
  color: var(--color-dark);
  font-size: 0.8rem;
}

/* leve destaque ao passar o mouse */
.card-timeline li:hover {
  color: #ffffff;
  transform: translateX(3px);
}

/* ======================================================
   /*! CARDS ELEMENT - FORMATION 
====================================================== */

/* badge status */
.status-badge {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 12px;
  margin: 10px;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 999px;
  background: rgba(34, 197, 94, 0.25);
  color: #39ff14;
  border: 1px solid rgba(34, 197, 94, 0.5);
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.4);
}

.header-top {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}

/* badges disciplinas */
.discipline-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
  padding: 5px;
}

.discipline-badge {
  padding: 5px 12px;
  font-size: 0.82rem;
  font-weight: 500;
  border-radius: 999px;

  color: rgba(147, 197, 253, 0.82);
  border: 1px solid rgba(96, 165, 250, 0.16);
  background: rgba(37, 99, 235, 0.035);
  box-shadow: inset 0 0 0 1px rgba(96, 165, 250, 0.03);

  transition: all 0.25s ease;
}

/* certificados */
.certificate-container {
  display: flex;
  justify-content: flex-end;
}

/* Ícone do certificado (selo) */
.certificate-trigger {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
}

.certificate-icon {
  color: #ff0000;
  font-size: clamp(0.5rem, 2rem, 2rem);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.certificate-icon:hover {
  transform: scale(1.3);
}

/* Modal do certificado */
.certificate-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 16px;

  padding: 20px;
  padding-top: 80px;

  z-index: 999;
  animation: fadeIn 0.3s ease;
}

/* caixa do modal */
.certificate-content {
  position: relative;

  width: 100%;
  max-width: 750px;
  min-width: 270px;

  padding: 20px;

  margin: 0 auto;

  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  animation: zoomIn 0.3s ease;
}

/* título */
.certificate-title {
  margin-bottom: 15px;
  color: var(--bg-color-phone);
  font-weight: 600;
  text-align: center;
  font-size: 1.1rem;
}

/* imagem */
.certificate-image {
  width: 100%;
  height: auto;

  max-height: 70vh;
  min-width: 280px;
  margin-bottom: 30px;

  border-radius: 8px;

  object-fit: contain;

  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

/* botão fechar */
.close-modal {
  position: absolute;

  top: -12px;
  right: -12px;

  color: #ff0000;
  font-size: 24px;

  cursor: pointer;

  background: #fff;
  border-radius: 50%;

  padding: 4px;

  transition: transform 0.2s;
}

.close-modal:hover {
  transform: scale(1.15) rotate(15deg);
}

/* ======================================================
   /*! CARDS ELEMENT - EXPERIENCE 
====================================================== */

.tech-icons {
  padding: 15px;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  align-items: center;
  justify-content: flex-start;
}

.tech-icons svg {
  font-size: 20px;
  transition: transform 0.2s ease;
}

.tech-icons svg:hover {
  transform: scale(1.15);
}

/* ======================================================
   /*! CARD - PROJECT
====================================================== */

.project-card {
  flex: 0 0 100%;
  padding: 14px;
  box-sizing: border-box;
}

.card-inner {
  background: var(--bg-card);
  border: var(--border-color);
  box-shadow: var(--bg-card-shadow);
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  height: 100%;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card-inner:hover {
  transform: translateY(-6px);
  background: var(--bg-card-hover);
  border: var(--border-color-hover);
  box-shadow: var(--bg-card-shadow-hover);
}

/* ==============================
   /*! CARD (PROJECT DETAILS)
============================== */
.card {
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 32px;
  width: 100%;

  transition:
    transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.4s ease,
    border-color 0.4s ease;

  min-width: 300px;
  align-self: center;
  background: var(--bg-card);
  border: var(--border-color);
  box-shadow: var(--bg-card-shadow);

  will-change: transform;
}

.card:hover {
  background: var(--bg-card-hover);
  border: var(--border-color-hover);
  box-shadow: var(--bg-card-shadow-hover);
  transform: scale(1.015);
}

/* ===================================
   /*! CARD (OTHER PROJECTS)
=================================== */

.other-project-card {
  width: 100%;
  max-width: 380px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-decoration: none;
  color: inherit;

  padding: 30px;
  border-radius: 28px;

  background: var(--bg-card);
  border: var(--border-color);
  box-shadow: var(--bg-card-shadow);
  backdrop-filter: blur(6px);

  transition: all 0.25s ease;
}

.other-project-card:hover {
  transform: translateY(-6px);

  background: var(--bg-card-hover);
  border: var(--border-color-hover);
  box-shadow: var(--bg-card-shadow-hover);
}

/* TEXTO */
.other-project-card h3 {
  font-size: 20px;
  margin-bottom: 12px;
}

.other-project-card p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 16px;
}

/* TECHS */
.other-projects-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

/* ======================================================
   /*! RESPONSIVIDADE -- CARDS - TIMELINE  
====================================================== **/

@media (min-width: 500px) {
  .header-bottom {
    display: flex;
    flex-direction: row;
  }

  .certificate-modal {
    align-items: center;
    padding-top: 40px;
  }

  .certificate-content {
    padding: 30px;
  }

  .certificate-title {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .tech-icons {
    gap: 10px;
    justify-content: flex-start;
  }

  .tech-icons svg {
    font-size: 24px;
  }
}

@media (min-width: 900px) {
  .timeline {
    padding-left: 0;
    gap: 120px;
  }

  .timeline::before {
    left: 50%;
    width: 4px;
    transform: translateX(-50%);
  }

  .timeline-item {
    display: flex;
    width: 100%;
    padding: 0 10px;
  }

  .timeline-item.left {
    justify-content: flex-start;
  }

  .timeline-item.right {
    justify-content: flex-end;
  }

  .card-timeline {
    width: 45%;
  }

  .timeline-dot {
    width: 25px;
    height: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .certificate-content {
    max-width: 850px;
  }

  .certificate-image {
    max-height: 80vh;
  }
}

@media (min-width: 1024px) {
  .tech-icons svg {
    font-size: 28px;
  }
}

/* ======================================================
   /*! ANIMAÇÕES
====================================================== **/

/* animação do dot */
@keyframes pulseGlow {
  0% {
    box-shadow:
      0 0 15px rgba(88, 166, 255, 0.5),
      0 0 30px rgba(88, 166, 255, 0.3);
  }

  50% {
    box-shadow:
      0 0 30px rgba(88, 166, 255, 0.9),
      0 0 60px rgba(88, 166, 255, 0.6);
  }

  100% {
    box-shadow:
      0 0 15px rgba(88, 166, 255, 0.5),
      0 0 30px rgba(88, 166, 255, 0.3);
  }
}

/* animação modal */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* animação certificado */
@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
