/* ======================================================
   /*?- h1
   /*?- titulo das sections
   /*?- titulo dos cards
   /*?- titulo dos cards da timelines
   /*?- textos
   
====================================================== */

/* ======================================================
   /*! TIPOGRAFIA BASE
====================================================== **/
:root {
  --bg-h2:  linear-gradient(
  90deg,
  #1d4ed8,     
  #2563eb 40%, 
  #3b82f6 70%,  
  #60a5fa      
);

  --bg-h3: #f0f4f8;
  --bg-h5: #f0f4f8;

  /* cores dos textos */
  --txt-color: #dce1e8;

  --color-dark: #1d4ed8; 
}



h1 {
  font-size: clamp(42px, 8vw, 90px);
}

/* titulo das sections */
h2 {
  text-align: center;
  font-size: clamp(2.5rem, 5vw, 3rem);
  margin-bottom: 80px;
  position: relative;

  background: var(--bg-h2);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.row-title span {
  display: block;
  width: 80px;
  height: 4px;
  background: linear-gradient(
    90deg,
    var(--bg-color-phone),
    #1f6feb 60%,
    #58a6ff
  );
  margin: 16px auto 0;
  border-radius: 999px;


}

/* titulo dos cards */
h3 {
  font-size: 1.25rem;
  color: var(--bg-h3);
}

/* titulo dos cards da timelines */
h4 {
  font-size: clamp(1.6rem, 3.5vw, 1.8rem);
  font-weight: 700;
  color: var(--bg-h3)
}

h5{
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-weight: 200;

}

/* textos */
p {
  line-height: 1.7;
  color: var(--txt-color);
}
