/* ======================================================
   /*! ABOUT
====================================================== **/

.about-section {
  padding: var(--navbar-height) 6% 0;
  color: var(--txt-color);
  position: relative;
}

/* ==============================
   /*! CONTAINER
============================== */

.about-container {
  max-width: 1000px;
  margin: 0 auto;
}

.about-top {
  margin-bottom: 16px;
}

.about-role {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var( --bg-h3);
  font-weight: 600;
}

/* ==============================
   /*! TEXTO
============================== */

.about-text p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.about-highlight {
  /* color: #00ff7f; */
  /* font-weight: 500; */
}




/* ======================================================
   /*! RESPONSIVIDADE
====================================================== */

@media (min-width: 768px) {
  .main-card {
    padding: 60px;
  }

  .about-text p {
    font-size: 15px;
  }
  .about-role {
    font-size: 15px;
  }
  .about-stats {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (min-width: 1024px) {
  .about-container {
    max-width: 1100px;
  }

  .main-card {
    padding: 70px;
  }

  .stat-card {
    min-width: 240px;

    padding: 20px;
  }

  .stat-card strong {
    font-size: 1.7rem;
  }
}
