/* ======================================================
   /*! EXPERIENCE 
====================================================== */

.experience-section {
  padding: var(--padding-sections);
  color: #f5f5f5;
  position: relative;
}

.experience-container {
  max-width: 1200px;
  margin: 0 auto;
}
