/* ======================================================
   /*! EXPERIENCE
====================================================== **/
.experience-section {
  padding: var(--padding-sections);
  color: #f5f5f5;
  position: relative;
}

.experience-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* ======================================================
   /*! TIMELINE
====================================================== **/
.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 100%;
  transform: translateX(-50%);
  background: linear-gradient(
    to bottom,
    #58a6ff,
    #1f6feb,
    #58a6ff
  );
  opacity: 0.6;
}

/* item */
.timeline-item {
  position: relative;
  display: flex;
  width: 100%;
}

.timeline-item.left {
  justify-content: flex-start;
}

.timeline-item.right {
  justify-content: flex-end;
}

/* dot */
.timeline-dot {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 18px;
  background: linear-gradient(
    135deg,
    #58a6ff,
    #1f6feb
  );
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(88, 166, 255, 0.7);
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 rgba(88, 166, 255, 0.4); }
  50% { box-shadow: 0 0 25px rgba(88, 166, 255, 0.9); }
  100% { box-shadow: 0 0 0 rgba(88, 166, 255, 0.4); }
}


.company {
  color: #58a6ff;
  font-weight: 500;
}

.date {
  display: block;
  margin: 8px 0 16px;
  font-size: 0.9rem;
  color: #8b949e;
}

.description {
  color: #c9d1d9;
  line-height: 1.6;
  margin-bottom: 16px;
}

.timeline-card ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.timeline-card li {
  list-style: none;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 0.75rem;
  background: rgba(88, 166, 255, 0.1);
  border: 1px solid rgba(88, 166, 255, 0.3);
  color: #58a6ff;
  font-weight: 500;
  transition: 0.3s ease;
}

.timeline-card li:hover {
  background: rgba(88, 166, 255, 0.2);
  transform: translateY(-2px);
}

/* ======================================================
   /*! RESPONSIVIDADE 
====================================================== **/
@media (max-width: 900px) {
  .timeline::before {
    left: 20px;
  }

  .timeline-item {
    justify-content: flex-start;
  }

  .timeline-dot {
    left: 20px;
  }

  .timeline-card {
    width: 100%;
    margin-left: 60px !important;
  }
}
