/* ======================================================
    /*! FORMATION 
====================================================== */

.training-section {
  padding: var(--padding-sections);
  color: var(--txt-color);
  position: relative;
}

.training-container {
  max-width: 1200px;
  margin: 0 auto;
}
