/* =====================================
   /*! HERO DETAILS 
===================================== */

.hero-details {
  padding: calc(var(--navbar-height) + 40px) 1.5rem 80px;
  padding: 80px 10%;
  margin-top: 30px;
}

/* CONTAINER */
.hero-details-container {
  margin: 0 auto;

  display: flex;

  flex-direction: column;
  gap: 40px;
}

/* IMAGE MOBILE */
.project-image-mobile {
  width: 100%;

  margin: 0 auto;
  height: 250px;

  border-radius: 18px;
  overflow: hidden;
}

.project-image-mobile img {
  width: 100%;
  height: 100%;
  display: block;

  border-radius: 18px;

  object-fit: cover;

  transition: transform 0.4s ease;
}

.project-image-mobile:hover img {
  transform: scale(1.04);
}

/*IMAGE DESKTOP */
.project-image-desk {
  display: none;
}

.project-image-desk img {
  width: 100%;
  max-width: 520px;
  height: auto;

  display: block;

  border-radius: 18px;

  object-fit: cover;

  transition: transform 0.4s ease;
}

.project-image-desk:hover img {
  transform: scale(1.04);
}

/* =====================================
   /*! CONTENT
===================================== */

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.project-status-badge-mob, .project-status-badge-desk {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  margin-bottom: 12px;

  padding: 5px 10px;
  border-radius: 999px;

  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  color: #ffff00;
  background: rgba(255, 255, 0, 0.15);
  border: 1px solid rgba(255, 255, 0, 0.5);

  backdrop-filter: blur(6px);

  width: fit-content;
}

/* bolinha */
.project-status-badge-mob , .project-status-badge-desk .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffff00;

  animation: pulseDot 1.5s infinite;
}

.project-status-badge-desk {
  display: none;
}

/* animação */
@keyframes pulseDot {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0.7);
  }
  70% {
    transform: scale(1.3);
    box-shadow: 0 0 0 6px rgba(255, 255, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
  }
}

.project-title {
  font-size: clamp(2.4rem, 3vw, 3rem);
  font-weight: 600;
  line-height: 1.2;
}

.project-description {
  font-size: clamp(0.95rem, 1.2vw, 1.05rem);
  line-height: 1.6;
  color: #cfcfcf;
}

/* TECH BADGES */
.project-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tech-badge {
  padding: 6px 12px;
  border-radius: 999px;

  font-size: 0.8rem;
  font-weight: 500;

  white-space: nowrap;
}

/* BUTTON */
.project-btn {
  width: fit-content;

  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 10px;
}

/* ======================================================
   /*! RESPONSIVIDADE
====================================================== */

@media (min-width: 768px) {
  .hero-details {
    margin-top: 30px;
  }

  .hero-details-container {
    flex-direction: row;
    align-items: center; /* 🔥 alinha vertical */
    justify-content: center; /* 🔥 centraliza melhor */

    gap: 60px;
  }

  /* CONTEÚDO */
  .project-content {
    flex: 1;
    max-width: 550px; /* 🔥 evita esticar demais */
  }

  /* ESCONDE MOBILE */
  .project-image-mobile {
    display: none;
  }

  /* IMAGEM DESKTOP */
  .project-image-desk {
    display: block;
    flex: 1;

    max-width: 500px; /* 🔥 controla largura */
  }

  .project-image-desk img {
    width: 100%;
    height: 350px; 
    object-fit: cover;

    border-radius: 18px;
  }

 
  .project-status-badge-desk {
    display: inline-flex; 
  }

  .project-status-badge-mob {
    display: none;
  }
}
