/* globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0d1117;
  --bg-color-phone:#58a6ff;
  --txt-color: #f5f5f5;
}

/* Main e conteúdo acima do fundo */
main {
  position: relative;
  z-index: 1;
}

/* Fundo geral e cor do texto */
body {
  color: var(--txt-color);
  min-height: 1005;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html {
  background-color: var(--bg-color-phone);
}


/* Tipografia */
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: clamp(3rem, 10vw, 7rem);
  text-align: center;
  transition: all 0.3s ease;
  animation: fadeSlideIn 1s ease-out forwards;
  opacity: 0;
  animation-delay: 0.3s;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Fundo de partículas fixo (tsParticles) */
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  background-color: var(--bg-color);
}

/* Botão do WhatsApp */
.whatsapp-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  padding: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
  animation: bounce 1.8s infinite;
}

.whatsapp-button img {
  width: 40px;
  height: 40px;
}

.whatsapp-button:hover {
  transform: scale(1.2);
}
