/* ======================================================
   /*! RESET GLOBAL E CONFIGURAÇÕES BASE

   /*?- (tsParticles)
   /*?- BTN WHATSAPP 
====================================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0d1117;
  --bg-color-phone: #1d4ed8;
  

  /*****************? CONFIG ******************/
  /* altura navbar */
  --navbar-height: 64px;
  /* padding sections */
  --padding-sections: 70px;

}

/* ======================================================
   /*! HTML & BODY
====================================================== **/
html {
  background-color: var(--bg-color-phone);
  scroll-behavior: smooth;
}

body {
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Noto Color Emoji",
    sans-serif;

  color: var(--txt-color);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Conteúdo principal acima de fundos decorativos */
main {
  position: relative;
  z-index: 1;
}

/* CORREÇÃO PARA SEÇÕES (evita esconder atrás da navbar fixa) */
section {
  scroll-margin-top: 80px;
}


/* ======================================================
   /*! FUNDO DE PARTÍCULAS FIXO (tsParticles)  
====================================================== **/
#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  background-color: var(--bg-color);
}

/* ======================================================
   /*! BOTÃO DO WHATSAPP   
====================================================== **/
.whatsapp-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-button img {
  width: 40px;
  height: 40px;

  animation: pulse 1.5s infinite ease-in-out;
}


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}


/* ======================================================
   /*! SCROLLBAR   
====================================================== **/
/* Scrollbar inteira */
::-webkit-scrollbar {
  width: 10px;
}

/* Fundo */
::-webkit-scrollbar-track {
  background: linear-gradient(
    180deg,
    rgba(3, 6, 14, 0.96) 0%,
    rgba(1, 4, 10, 0.985) 100%
  );
}

/* Barra que você arrasta */
::-webkit-scrollbar-thumb {
  background: #1d4ed8;
  border-radius: 10px;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}